<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vifarnet.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Vifarnet.MySettings>
            <setting name="Bg" serializeAs="String">
                <value>My.Resources.bg40</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="opt_music" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opt_fixit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opt_sc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opt_math" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opt_xplr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opt_books" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opt_mt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opt_dm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="opt_dload" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="key" serializeAs="String">
                <value />
            </setting>
            <setting name="update" serializeAs="String">
                <value />
            </setting>
            <setting name="pic" serializeAs="String">
                <value>/Vifarnet;component/Images/propic.png</value>
            </setting>
            <setting name="opt_wall" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="r1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>String0</string>
                        <string>String1</string>
                        <string>String2</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="list" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Booked Tasks List</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Vifarnet.MySettings>
    </userSettings>
</configuration>
